*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.totalContainer{
     background-color: rgb(224, 234, 252);
     height: auto;
}
.head-cont{
     background-color: mediumturquoise;
}
.header-text{
     color: lightskyblue;
     font-family: 'Courier New', Courier, monospace;
     font-weight: 600;
     font-size: 30px;
}